.places {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: auto;
  padding: 92px 0 92px;
}

@media screen and (max-width: 1023px) {
  .places {
    padding: 88px 24px 90px;
    gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding: 66px 0 66px;
    gap: 50px;
  }
}
