.cover__overlay {
  width: 100%;
  background-color: rgba(42, 44, 47, 0.3);
  transition: background-color 0.4s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.cover:hover .cover__overlay {
  background-color: rgba(42, 44, 47, 0.8);
}
