.header__lang-links {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.17;
  text-align: right;
  margin-right: 18px;
  text-decoration: none;
  color: #fff;
}

.header__lang-links:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header__lang-links {
    font-size: 18px;
    line-height: 1.11;
  }
}
